<div class="dialog-login">
  <div class="dialog-head">
    <button class="close-icon" (click)="closeDialog()">
      <img src="assets/icons/close.svg" alt="">
    </button>
  </div>

  <div class="content">
    <div class="dialog-title">
      <h2>Регистрация</h2>
    </div>
    <div class="dialog-content">
      <form [formGroup]="registerForm">
        <input
          type="text"
          class="phone"
          (ngModelChange)="checkPhone($event)"
          placeholder="Телефон"
          [class.ng-invalid]="isValid"
          formControlName="phone"
          maxlength="11"
        >
        <div class="validator" *ngIf="isValid">
          <img src="/assets/icons/error.svg" alt=""> <span class="text">Введите номер в формате +7(ххх)-ххх-хх-хх</span>
        </div>
        <input
          type="email"
          class="email"
          placeholder="Электронная почта"
          formControlName="email"
        >
        <div class="hide-pass">
          <input
            [type]="fieldTextType ? 'text' : 'password'"
            class="password"
            placeholder="Пароль"
            formControlName="password"
          >
          <img [src]="fieldTextType ? 'assets/icons/remove_red_eye.svg' : 'assets/icons/close-eye.svg'" (click)="toggleFieldTextType()">
        </div>

        <div class="hide-pass rep">
          <input
            [type]="confirmTextType ? 'text' : 'password'"
            class="confirmPassword"
            placeholder="Повторите пароль"
            formControlName="confirmPassword"
          >
          <img [src]="confirmTextType ? 'assets/icons/remove_red_eye.svg' : 'assets/icons/close-eye.svg'" (click)="toggleConfirmTextType()">
        </div>
        <button class="register-btn" [class.mt]="isValid" (click)="register()">Войти</button>
      </form>
    </div>
  </div>
</div>
